<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>expreli!</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <section class="header-info">
        <div class="top-3">
            
        </div>
        <div class="timer-box">
            <p class="timer">00:00:00</p>
        </div>
    </section>

    <div class="grid-scroller">
        <section class="stats-grid"></section>
    </div>
    <script src="../api.js" type="module"></script>
    <script src="./js/category_info.js" type="module"></script>
    <script src="./js/player_card.js" type="module"></script>
    <script src="./js/main.js" type="module"></script>
</body>
</html>